.hero-unit
	h1 Preston Lee's BMI 591 Projects
	h2 Fall 2013
	p #{link_to 'This work', 'https://github.com/preston/bmi591'} is released under the #{link_to 'MIT license', 'http://preston.mit-license.org'}. (Basically just attributed me properly and you're good to go!)

